nav {
    background-color: #FF5C32;
    padding: 10px;
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nav-link {
    color: #FFDDBB;
}

.nav-link.active {
    color: white;
    text-decoration: underline 3px #FFAD27;
}

.nav-link:hover {
    color: #528a2d;
}

.contador {
    background-color: #FFAD27;
    border-radius: 50%;
    padding: 0 6px;
}