.fondo-notfound {
    background-color: #FFAD27;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-notfound {
    padding: 60px;
    border: 10px dashed #FFAD27;
    background-color: white;
}

.imagen-notfound {
    display: block;
    width: auto;
    height: auto;
    object-fit: contain;
    max-width: 500px;
}

.titulo-notfound {
    color: brown;
    margin: 0;
    font-size: 48px;
    text-align: center;
}

.texto-notfound {
    color: red;
    margin: 0;
    font-size: 24px;
    text-align: center;
}